---
ansible_connection: local
ansible_host: 127.0.0.1
ansible_become: false
code_dir: ~/code
project: "my_project"
settings_dir: ~/.config/base-docker
settings_file: base-docker.ini
virtualenv_dir: "{{ playbook_dir }}/python"
ansible_python_interpreter: "{{ virtualenv_dir }}/bin/python"
...
