<?php

use Laminas\Permissions\Acl\Acl;
use Laminas\Permissions\Acl\Role\GenericRole as Role;
use Laminas\Permissions\Acl\Resource\GenericResource as Resource;
use Empathy\ELib\User\AclUser;

return [
    'ApcuDebug' => false,
    'LoggingOn' => false,
    'Acl' => function(\DI\Container $c) {
        $acl = new Acl();

        $guest = new Role('guest');
        $free = new Role('free');
        $paid = new Role('paid');
        $admin = new Role('admin');

        $acl->addRole($guest);
        $acl->addRole($free, [$guest]);
        $acl->addRole($paid, [$free]);
        $acl->addRole($admin, [$paid]);

        $acl->addResource(new Resource('public-api'));
        $acl->addResource(new Resource('free-api'));
        $acl->addResource(new Resource('paid-api'));
        $acl->addResource(new Resource('admin-area'));
        
        $acl->allow($guest, 'public-api');
        $acl->allow($free, 'free-api');        
        $acl->allow($paid, 'paid-api');
        $acl->allow($admin, 'admin-area');

        $acl->allow($guest, 'paid-api', 'view');

        return $acl;
    },
    'UserModel' => 'MobileUserItem',
    'CurrentUser' => function (\DI\Container $c) {
        return new AclUser();
    }
];
