<?php


return [
    'ApcuDebug' => true,
    'LoggingOn' => true,
    'SiteInfoSettings' =>  array(
        'title',
        'keywords',
        'description',
        'blogtitle',
        'blogsubtitle',
        'link1name',
        'link1url',
        'link2name',
        'link2url',
        'link3name',
        'link3url'
    ),
    'CacheEnabled' => false
];
