---
ansible_connection: local
ansible_host: 127.0.0.1
ansible_become: false
code_dir: ~/code
project: "my_project"
settings_dir: ~/.config/base-docker
settings_file: base-docker.ini
ansible_python_interpreter: "{{ playbook_dir }}/python/bin/python"
...
