
version: '3'
services:
  cache:
    container_name: cache
    image: memcached:1.6.10
{% if use_arch != 'pi' %}
    platform: linux/x86_64
{% endif %}
  app:
    container_name: app
{% if use_arch != 'pi' %}
    platform: linux/x86_64
{% endif %}
    image: registry.gitlab.com/mikejw/empathy/app-php-dev-wnode:{% if use_arch == 'pi' %}arm64{% else %}latest{% endif +%}
    environment:
      - VIRTUAL_HOST=www.dev.org
      - VIRTUAL_PORT=80
    volumes:
      - {{ code_dir }}/{{ project }}:/var/www/project
      - /etc/localtime:/etc/localtime:ro
  db:
    container_name: db
{% if use_arch != 'pi' %}
    platform: linux/x86_64
{% endif %}
    image: mysql:latest
    volumes:
      - "./db/log:/var/log/mysql"
      #- "./db/default.cnf:/etc/mysql/conf.d/default.cnf"
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=project
    ports:
      - 3306:3306

# if using 'global' nginx proxy setup
# this contiainer is not required
# and specify (uncomment) the network settings below
  proxy:
    image: jwilder/nginx-proxy
    container_name: proxy
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

# networks:
#   default:
#     external:
#       name: nginx-proxy
