
version: '2'
services:
  cache:
    container_name: cache
    image: memcached:1.6.10
    platform: linux/x86_64
  app:
    container_name: app
    image: registry.gitlab.com/gigabyte-software/unicorn/app-php-test-wnode:latest
    environment:
      - VIRTUAL_HOST=www.dev.org
      - VIRTUAL_PORT=80
    volumes:
    - {{ code_dir }}/{{ project }}:/var/www/project
  db:
    container_name: db
    image: mysql:5.7
    platform: linux/x86_64
    volumes:
      - "./db/log:/var/log/mysql"
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=project
    ports:
      - 3306:3306

# if using 'global' nginx proxy setup
# this contiainer is not required
# and specify (uncomment) the network settings below
  proxy:
    image: jwilder/nginx-proxy
    container_name: proxy
    image: proxy
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

# networks:
#   default:
#     external:
#       name: nginx-proxy
